.user-item {
  background-color: #fff;
  padding: 1rem 3rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.45);

  &:not(:first-of-type) {
    margin-top: 1rem;
  }

  .user-age {
    background-color: #7f7c82;
    padding: 0.5rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-self: center;
    color: #f8f1f1;
    font-weight: 400;
    font-size: 1.5rem;
  }
}
